@charset "UTF-8";
body {
  font-family: fot-tsukuardgothic-std, sans-serif;
}

.u-desktop {
  display: none;
}
@media screen and (max-width: 1023px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (max-width: 1023px) {
  .u-mobile {
    display: none;
  }
}

.is-sm {
  display: none;
}
@media screen and (max-width: 375px) {
  .is-sm {
    display: block;
  }
}

.is-pc {
  display: block;
}
@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

.is-md {
  display: none;
}
@media screen and (max-width: 767px) {
  .is-md {
    display: block;
  }
}

.new-line {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .new-line-md {
    display: inline-block;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 1.4545454545vw;
  }
}
@media (min-width: 1100px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (max-width: 767px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (max-width: 767px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

fieldset,
legend,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  margin: 0;
  outline: none;
  padding: 0;
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
  border: 1px solid #ccc;
  font-size: 16px;
  margin: 0;
  outline: none;
  padding: 4px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
input[type=datetime],
input[type=week],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 16px;
  margin-left: 0;
  margin-right: 0;
  outline: none;
  padding: 4px;
}

textarea {
  height: 100px;
  overflow: auto;
  width: 100%;
}

select {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
  background-position: right 8px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  padding-right: 30px;
}

.select {
  background: #fff;
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.select select {
  background: none;
  border: 1px solid #ccc;
  cursor: pointer;
  padding-right: 24px;
  text-overflow: "";
  width: 100%;
}

.select::before {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #666;
  content: "";
  height: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  right: 8px;
  top: 13px;
  width: 0;
}

.p-footer {
  padding: 70px 0 28px;
  padding: 4.375rem 0 1.75rem;
  background-color: #252525;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .p-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.p-footer__inner {
  width: 100%;
  max-width: 1400px;
  max-width: 87.5rem;
  margin: 0 auto;
}

.p-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .p-footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.p-footer__logos {
  max-width: 264px;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .p-footer__logos {
    max-width: 200px;
    margin: 0 auto;
  }
}

.p-footer__logo {
  height: auto;
  padding-top: 18.1%;
  position: relative;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .p-footer__logo {
    margin: 0 auto;
    margin-bottom: 3.125rem;
  }
}

.p-footer__logo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-footer__pc-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .p-footer__pc-nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-footer__pc-nav-item {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: fot-tsukuardgothic-std, sans-serif;
  margin-right: 20px;
  margin-right: 1.25rem;
  font-weight: 700;
  padding-top: 3px;
  padding-top: 0.1875rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .p-footer__pc-nav-item {
    padding-bottom: 0.625rem;
  }
}

.p-footer__pc-nav-item:hover {
  opacity: 0.5;
}

.p-footer__copy-rights {
  text-align: center;
}

.p-footer__copy-right {
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  margin-top: 50px;
  margin-top: 3.125rem;
}

.p-header {
  height: 80px;
  width: 100%;
  max-width: 1920px;
  max-width: 120rem;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 45px;
  padding: 0 2.8125rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 17.5px;
  padding-top: 1.09375rem;
}
@media screen and (max-width: 767px) {
  .p-header__inner {
    padding: 1.09375rem 1.875rem;
  }
}

.p-header-logo {
  width: 222px;
  height: 33px;
  padding-top: 1.5px;
  padding-top: 0.09375rem;
}
@media screen and (max-width: 767px) {
  .p-header-logo {
    width: 11.25rem;
  }
}

@media screen and (max-width: 767px) {
  .p-header__pc-nav {
    display: none;
  }
}

.p-header__pc-nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-header__pc-nav-item {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: fot-tsukuardgothic-std, sans-serif;
  margin-right: 20px;
  margin-right: 1.25rem;
  font-weight: 700;
  padding-top: 3px;
  padding-top: 0.1875rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.p-header__pc-nav-item:hover {
  opacity: 0.5;
}

.p-header__pc-nav-item:first-child {
  position: relative;
}

.p-header__pc-nav-item:first-child a::after {
  position: absolute;
  font-family: fot-tsukuardgothic-std, sans-serif;
  bottom: 2px;
  bottom: 0.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "About";
  font-size: 14px;
  font-size: 0.875rem;
  display: block;
}

.p-header__pc-nav-item:nth-child(2) {
  position: relative;
}

.p-header__pc-nav-item:nth-child(2) a::after {
  position: absolute;
  font-family: fot-tsukuardgothic-std, sans-serif;
  bottom: 2px;
  bottom: 0.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "Valuabe";
  font-size: 14px;
  font-size: 0.875rem;
}

.p-header__pc-nav-item:nth-child(3) {
  position: relative;
}

.p-header__pc-nav-item:nth-child(3) a::after {
  position: absolute;
  font-family: fot-tsukuardgothic-std, sans-serif;
  bottom: 2px;
  bottom: 0.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "Works";
  font-size: 14px;
  font-size: 0.875rem;
}

.p-header__pc-nav-item:nth-child(4) {
  position: relative;
}

.p-header__pc-nav-item:nth-child(4) a::after {
  position: absolute;
  font-family: fot-tsukuardgothic-std, sans-serif;
  bottom: 2px;
  bottom: 0.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "Flow";
  font-size: 14px;
  font-size: 0.875rem;
}

.p-header__pc-nav-item:nth-child(5) {
  position: relative;
}

.p-header__pc-nav-item:nth-child(5) a::after {
  position: absolute;
  font-family: fot-tsukuardgothic-std, sans-serif;
  bottom: 2px;
  bottom: 0.125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "Q&A";
  font-size: 14px;
  font-size: 0.875rem;
}

.p-header__pc-nav-item:nth-child(6) {
  margin-right: 0;
  padding-top: 1px;
  padding-top: 0.0625rem;
}

.l-inner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .l-inner {
    max-width: 1180px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

.p-page-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.p-page-contact-mv {
  margin-left: auto;
  width: 100vw;
  height: 23.4375vw;
}
@media screen and (max-width: 414px) {
  .p-page-contact-mv {
    width: 100vw;
    height: 90vw;
  }
}

.p-page-contact-mv__image {
  height: auto;
  width: 100%;
}

.p-page-contact-texts {
  width: 55.7%;
  max-width: 1070px;
  max-width: 66.875rem;
  margin: -100px auto 0;
  text-align: center;
  padding: 50px 20px;
  padding: 3.125rem 1.25rem;
  border-radius: 0 100px 0 0;
  background-color: #fff;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 22px rgba(0, 0, 0, .11);
          box-shadow: 0px 0px 22px rgba(0, 0, 0, .11);
}
@media screen and (max-width: 767px) {
  .p-page-contact-texts {
    width: 80%;
    max-width: 31.25rem;
    margin-top: 6.25rem;
  }
}
@media screen and (max-width: 414px) {
  .p-page-contact-texts {
    margin-top: -9.375rem;
    width: 85%;
  }
}

.p-page-contact-texts__title {
  display: inline-block;
}

.p-page-contact-text__texts {
  padding-top: 35px;
  padding-top: 2.1875rem;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (max-width: 767px) {
  .p-page-contact-text__texts {
    font-size: 0.9375rem;
  }
}

.p-page-contact-forms {
  background: #DAE0E3;
  width: 55.7%;
  max-width: 1070px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .p-page-contact-forms {
    width: 80%;
    max-width: 31.25rem;
  }
}

.p-page-contact-form {
  text-align: center;
  max-width: 600px;
  max-width: 37.5rem;
  margin: 50px auto;
  margin: 3.125rem auto;
}

.c-btn-contact-form {
  display: inline-block;
  padding: 20px 118px 20px 178px;
  padding: 1.25rem 7.375rem 1.25rem 11.125rem;
  background-color: #fff;
  color: #333;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 0;
  font-weight: bold;
  font-size: 20px;
  font-size: 1.25rem;
  width: 440px;
  width: 27.5rem;
}
@media screen and (max-width: 767px) {
  .c-btn-contact-form {
    width: 17.375rem;
    padding: 1.4375rem 2.875rem 1.3125rem 6.25rem;
    font-size: 1rem;
    text-align: center;
  }
}

.c-btn-contact-form:hover {
  opacity: 0.7;
}

.c-btn-contact-form::before {
  position: absolute;
  width: 28px;
  width: 1.75rem;
  height: 22px;
  height: 1.375rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 118px;
  left: 7.375rem;
  content: "";
  background: url(../img/icon-mail.svg) no-repeat center center/contain;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #333;
}
@media screen and (max-width: 767px) {
  .c-btn-contact-form::before {
    left: 3.75rem;
  }
}

.c-btn-contact-form:hover::before {
  opacity: 0.7;
}

.c-btn-contact {
  display: inline-block;
  padding: 11px 10px 9px 36px;
  padding: 0.6875rem 0.625rem 0.5625rem 2.25rem;
  background-color: #252525;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 0;
  font-weight: bold;
  font-size: 15px;
  font-size: 0.9375rem;
}

.c-btn-contact::before {
  position: absolute;
  width: 16px;
  width: 1rem;
  height: 13px;
  height: 0.8125rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  left: 0.625rem;
  content: "";
  background: url(../img/icon-mail-wt.svg) no-repeat center center/contain;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

.c-btn, .c-btn:hover {
  display: inline-block;
  padding: 10px 7px 9px 19px;
  padding: 0.625rem 0.4375rem 0.5625rem 1.1875rem;
  background: #DAE0E3;
  color: #333;
  font-family: fot-tsukuardgothic-std, sans-serif;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 0.7;
  font-weight: bold;
  font-size: 14px;
  font-size: 0.875rem;
}

.c-btn::before, .c-btn:hover::before {
  position: absolute;
  width: 6px;
  width: 0.375rem;
  height: 12px;
  height: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 7px;
  left: 0.4375rem;
  content: "";
  background: url(../img/Vector.svg) no-repeat center center/contain;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-btn:hover::before {
  position: absolute;
  width: 6px;
  width: 0.375rem;
  height: 12px;
  height: 0.75rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  left: 0.625rem;
  content: "";
  background: url(../img/Vector.svg) no-repeat center center/contain;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-btn::after, .c-btn:hover::after {
  position: absolute;
  width: 90%;
  height: 2px;
  height: 0.125rem;
  bottom: 6px;
  bottom: 0.375rem;
  background-color: #333;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-btn:hover {
  opacity: 0.7;
}

.c-btn:hover::after {
  position: absolute;
  width: 20%;
  height: 2px;
  height: 0.125rem;
  bottom: 6px;
  bottom: 0.375rem;
  background-color: #333;
  content: "";
  left: 15%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.c-section-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-size: 3.75rem;
  line-height: 1;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .c-section-title {
    font-size: 2.8125rem;
    padding-bottom: 0.1875rem;
  }
}

.menu {
  height: 20px;
  position: absolute;
  right: 20px;
  top: 32px;
  width: 30px;
  z-index: 10001;
  display: none;
}
@media screen and (max-width: 767px) {
  .menu {
    display: block;
    top: 23px;
  }
}

.menu__line {
  background: #333;
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 100%;
}

.menu__line--center {
  top: 9px;
}

.menu__line--bottom {
  bottom: 0;
}

.menu__line--top.active {
  top: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #fff;
}

.menu__line--center.active {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: #fff;
}

.menu__line--bottom.active {
  bottom: 10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background: #fff;
}

.p-modal {
  position: fixed;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  z-index: 501;
}

@media screen and (min-width: 765px) {
  .p-modal {
    max-width: calc(100% - 50px);
  }
}
.p-modal__button {
  display: block;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.p-modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 500;
  display: none;
  background-color: rgba(0, 0, 0, .8);
}

.p-modal__wrap {
  border: 4px solid #333;
  background: #333;
  padding: 20px;
  padding: 1.25rem;
  max-height: 1000px;
  overflow: scroll;
  width: 100%;
}
@media screen and (max-width: 375px) {
  .p-modal__wrap {
    max-height: 500px;
  }
}

.p-modal__box {
  margin: 100px 0;
  margin: 6.25rem 0;
}
@media screen and (max-width: 375px) {
  .p-modal__box {
    margin: 0;
  }
}

.gnav {
  background: #333;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 10000;
  top: 0;
}

.gnav__wrap {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
}

.gnav__menu {
  text-align: center;
}

.gnav__menu__item {
  margin: 40px 0;
}

.gnav__menu__item a {
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.gnav__menu__item a:hover {
  color: #666;
}

.p-about {
  padding-bottom: 120px;
  padding-bottom: 7.5rem;
  padding-top: 80px;
  padding-top: 5rem;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-about {
    padding-bottom: 5rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.p-about::after {
  position: absolute;
  width: 59.84%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: #DAE0E3;
  z-index: -2;
}
@media screen and (max-width: 767px) {
  .p-about::after {
    width: 100%;
  }
}

.p-about__inner {
  width: 100%;
  max-width: 1280px;
  max-width: 80rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 72px;
  padding-top: 4.5rem;
}
@media screen and (max-width: 767px) {
  .p-about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 37.5rem;
  }
}

.p-about__title {
  position: relative;
}

.p-about__title::after {
  position: absolute;
  bottom: -7px;
  bottom: -0.4375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "Web-Rootsについて";
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.7;
}

.p-about__texts {
  width: 50%;
  text-align: left;
  margin-right: 30px;
  margin-right: 1.875rem;
}
@media screen and (max-width: 767px) {
  .p-about__texts {
    width: 100%;
    margin-right: 0;
    display: block;
    text-align: center;
  }
}

.p-about__text {
  padding-bottom: 40px;
  padding-bottom: 2.5rem;
  font-size: 16px;
  font-size: 1rem;
  font-family: fot-tsukuardgothic-std, sans-serif;
}
@media screen and (max-width: 767px) {
  .p-about__text {
    text-align: left;
    display: inline-block;
  }
}

.p-about__text-top {
  padding-bottom: 10px;
  padding-bottom: 0.625rem;
  font-size: 16px;
  font-size: 1rem;
  font-family: fot-tsukuardgothic-std, sans-serif;
}
@media screen and (max-width: 767px) {
  .p-about__text-top {
    text-align: left;
    display: inline-block;
  }
}

.p-about__img {
  width: 50%;
  padding-top: 22px;
  padding-top: 1.375rem;
  margin-left: 60px;
  margin-left: 3.75rem;
}
@media screen and (max-width: 767px) {
  .p-about__img {
    width: 100%;
    margin: 0 auto;
  }
}

.p-about__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 66.71%;
}

.p-about__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
}

.p-contact__title {
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  font-size: 60px;
  font-size: 3.75rem;
  line-height: 1;
  display: inline-block;
}
@media screen and (max-width: 767px) {
  .p-contact__title {
    font-size: 2.8125rem;
    padding-bottom: 0.1875rem;
  }
}

.p-contact__title::after {
  position: absolute;
  bottom: -7px;
  bottom: -0.4375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "お問い合わせ";
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.7;
}

.p-contact {
  padding-top: 80px;
  padding-top: 5rem;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 200px;
  margin-bottom: 12.5rem;
}
@media screen and (max-width: 767px) {
  .p-contact {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 25rem;
  }
}
@media screen and (max-width: 767px) {
  .p-contact {
    margin-bottom: 31.25rem;
  }
}

.p-contact__inner {
  width: 100%;
  max-width: 1500px;
  max-width: 93.75rem;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-contact__inner {
    max-width: 37.5rem;
  }
}

.p-contact__text-wrapper {
  padding: 110px 90px 150px;
  padding: 6.875rem 5.625rem 9.375rem;
  background: #F2EEE9;
  text-align: center;
  border-radius: 0px 50px 0px 0px;
  width: 43%;
}
@media screen and (max-width: 767px) {
  .p-contact__text-wrapper {
    width: 100%;
    padding: 3.75rem 3.9375rem 3.75rem;
  }
}
@media screen and (max-width: 375px) {
  .p-contact__text-wrapper {
    padding: 3.75rem 1.875rem 3.75rem;
  }
}

.p-contact__text {
  font-size: 24px;
  font-size: 1.5rem;
  text-align: left;
  max-width: 464px;
  max-width: 29rem;
  padding-top: 50px;
  padding-top: 3.125rem;
}
@media screen and (max-width: 767px) {
  .p-contact__text {
    font-size: 1rem;
    text-align: center;
  }
}

.p-contact__messages {
  background: url(../img/contact.jpg) no-repeat center center/cover;
  width: 60%;
  z-index: 2;
  position: absolute;
  top: 0%;
  right: 0%;
  padding: 125px 0;
  padding: 7.8125rem 0;
  margin-top: 80px;
  margin-top: 5rem;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .p-contact__messages {
    width: 100%;
    z-index: 1;
    padding-top: 1.25rem;
    top: 80%;
    margin-top: 1.875rem;
    padding: 3.125rem 0;
    background: url(../img/contact-sp.jpg) no-repeat center center/cover;
  }
}
@media screen and (max-width: 375px) {
  .p-contact__messages {
    padding-bottom: 3.125rem;
  }
}

.p-contact__messages:hover .c-btn-contact-form {
  opacity: 0.5;
}

.p-contact__messages::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, .21);
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.p-contact__messages:hover::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, .7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.p-contact__message {
  display: inline-block;
  margin-bottom: 36px;
  margin-bottom: 2.25rem;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
}
@media screen and (max-width: 767px) {
  .p-contact__message {
    padding-top: 3.125rem;
    max-width: 80%;
  }
}

.p-flow__title {
  position: relative;
}

.p-flow__title::after {
  position: absolute;
  bottom: -7px;
  bottom: -0.4375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "制作の流れ";
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.7;
}

.p-flow {
  padding: 100px 0 100px;
  padding: 6.25rem 0 6.25rem;
  position: relative;
}

.p-flow::before {
  position: absolute;
  width: 93%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: #F2EEE9;
  z-index: -1;
  border-radius: 0px 100px 0px 0px;
}
@media screen and (max-width: 767px) {
  .p-flow::before {
    border-radius: 0px 50px 0px 0px;
    width: 100%;
  }
}

.p-flow__inner {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
@media screen and (max-width: 767px) {
  .p-flow__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.p-flow__text-top {
  padding-top: 30px;
  padding-top: 1.875rem;
  display: inline-block;
  padding-bottom: 45px;
  padding-bottom: 2.8125rem;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .p-flow__text-top {
    width: 82%;
  }
}

.p-flow__text {
  padding-top: 5px;
  padding-top: 0.3125rem;
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  color: #333;
}
@media screen and (max-width: 767px) {
  .p-flow__text {
    font-size: 0.9375rem;
    padding-top: 0.625rem;
  }
}

.p-flow__text span {
  font-weight: normal;
}

.p-flow__cards {
  text-align: left;
}

.p-flow__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: #fff;
  width: 62.5%;
  max-width: 1200px;
  max-width: 75rem;
  margin-bottom: 40px;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px 20px 30px;
  padding: 1.25rem 1.875rem 1.25rem 1.875rem;
  border-radius: 0px 50px 0px 0px;
  position: relative;
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="22" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.11)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, .11));
          filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, .11));
}
@media screen and (max-width: 767px) {
  .p-flow__card {
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .p-flow__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-flow__card:last-child {
  margin-bottom: 0;
}

.p-flow-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-flow__card:first-child:after {
  display: none;
}
@media screen and (max-width: 500px) {
  .p-flow__card:first-child:after {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 10px;
    content: "";
    background: url(../img/step-1.png) no-repeat center center/contain;
    width: 25%;
    height: 25%;
  }
}

.p-flow__card:nth-child(2):after {
  display: none;
}
@media screen and (max-width: 500px) {
  .p-flow__card:nth-child(2):after {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 10px;
    content: "";
    background: url(../img/step-2.png) no-repeat center center/contain;
    width: 25%;
    height: 25%;
  }
}

.p-flow__card:nth-child(3):after {
  display: none;
}
@media screen and (max-width: 500px) {
  .p-flow__card:nth-child(3):after {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 10px;
    content: "";
    background: url(../img/step-3.png) no-repeat center center/contain;
    width: 25%;
    height: 25%;
  }
}

.p-flow__card:nth-child(4):after {
  display: none;
}
@media screen and (max-width: 500px) {
  .p-flow__card:nth-child(4):after {
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    top: 10px;
    left: 10px;
    content: "";
    background: url(../img/step-4.png) no-repeat center center/contain;
    width: 25%;
    height: 25%;
  }
}

.p-flow__number {
  height: auto;
  width: 5.20833vw;
}
@media screen and (max-width: 767px) {
  .p-flow__number {
    width: 10vw;
  }
}
@media screen and (max-width: 500px) {
  .p-flow__number {
    display: none;
  }
}

.p-flow__number-figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.p-flow__number-figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-flow__img {
  height: auto;
  width: 8.4375vw;
  margin-left: 30px;
  margin-left: 1.875rem;
  margin-right: 30px;
  margin-right: 1.875rem;
}
@media screen and (max-width: 767px) {
  .p-flow__img {
    width: 16vw;
    margin-right: 1rem;
    margin-left: 0.6875rem;
  }
}
@media screen and (max-width: 500px) and (min-width: 376px) {
  .p-flow__img {
    width: 26vw;
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 375px) {
  .p-flow__img {
    width: 33vw;
  }
}

.p-flow__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.p-flow__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-flow__sub-title {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.07;
  color: #333;
}
@media screen and (min-width: 1440px) {
  .p-flow__sub-title {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 1023px) {
  .p-flow__sub-title {
    font-size: 1.125rem;
    font-weight: 700;
  }
}
@media screen and (max-width: 767px) {
  .p-flow__sub-title {
    font-size: 1rem;
  }
}

.p-mv {
  padding-bottom: 100px;
  padding-bottom: 6.25rem;
  position: relative;
}
@media screen and (max-width: 767px) {
  .p-mv {
    padding-bottom: 5rem;
  }
}
@media screen and (max-width: 414px) {
  .p-mv {
    padding-bottom: 2.5rem;
  }
}

.p-mv::after {
  position: absolute;
  width: 59.84%;
  height: 63%;
  top: 37%;
  left: 0;
  content: "";
  background-color: #DAE0E3;
  z-index: -2;
}
@media screen and (max-width: 767px) {
  .p-mv::after {
    width: 100%;
  }
}

.p-mv:before {
  z-index: 2;
  position: absolute;
  right: 3%;
  content: "";
  background: url(../img/scroll-down.png) no-repeat center center/contain;
  width: 15px;
  width: 0.9375rem;
  height: 152px;
  height: 9.5rem;
  bottom: 18%;
}
@media screen and (max-width: 767px) {
  .p-mv:before {
    bottom: 18%;
    right: 2%;
    width: 0.625rem;
    height: 100px;
  }
}
@media screen and (max-width: 680px) {
  .p-mv:before {
    bottom: 24%;
  }
}
@media screen and (max-width: 375px) {
  .p-mv:before {
    bottom: 7%;
  }
}

.p-mv__inner {
  width: 100%;
  max-width: 1920px;
  max-width: 120rem;
  position: relative;
  overflow: hidden;
}

.p-mv__titles {
  position: absolute;
  width: 100%;
  height: auto;
  top: 42%;
  left: 6%;
  content: "";
  z-index: 2;
}
@media screen and (max-width: 414px) {
  .p-mv__titles {
    top: 53%;
    left: 2%;
  }
}

.p-mv__title {
  height: auto;
  width: 35.9%;
}
@media screen and (max-width: 414px) {
  .p-mv__title {
    width: 90.9%;
  }
}

.p-mv__title-img {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 43.25%;
}
@media screen and (max-width: 375px) {
  .p-mv__title-img {
    padding-top: 45.2%;
  }
}

.p-mv__title-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.p-mv__pictures {
  margin-left: auto;
  width: 81.302vw;
  height: 48.3333vw;
}
@media screen and (max-width: 414px) {
  .p-mv__pictures {
    width: 92vw;
    height: 113.6vw;
  }
}

.p-mv__picture {
  height: auto;
  width: 100%;
}

.p-qa__title {
  position: relative;
}

.p-qa__title::after {
  position: absolute;
  bottom: -7px;
  bottom: -0.4375rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "よくある質問";
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.7;
}

.p-qa {
  z-index: -2;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  height: 900px;
  height: 56.25rem;
  padding-top: 120px;
  padding-top: 7.5rem;
}
@media screen and (max-width: 405px) {
  .p-qa {
    margin-bottom: 6.25rem;
  }
}

.p-qa__inner {
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  padding-bottom: 555px;
  padding-bottom: 34.6875rem;
}

.p-qa__inner::after {
  background: url(../img/qa-bg.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 85%;
  top: 3%;
  left: 0;
  content: "";
  z-index: -1;
}
@media screen and (max-width: 590px) {
  .p-qa__inner::after {
    height: 90%;
  }
}
@media screen and (max-width: 500px) {
  .p-qa__inner::after {
    height: 95%;
  }
}
@media screen and (max-width: 405px) {
  .p-qa__inner::after {
    height: 104%;
    top: 2.6%;
  }
}

.p-accordion__container {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: inherit;
  height: 0;
  width: 52%;
  position: absolute;
  margin-top: 30px;
  width: 900px;
  width: 56.25rem;
  max-width: 52%;
  margin: 60px auto 0;
  margin: 3.75rem auto 0;
  z-index: 2;
}
@media screen and (max-width: 767px) {
  .p-accordion__container {
    max-width: 90%;
  }
}

.p-accordion__title {
  color: #333;
  cursor: pointer;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  padding: 22px 66px;
  padding: 1.375rem 4.125rem;
  position: relative;
  background: #fff;
  border-radius: 10px 10px 0 0;
}

.p-accordion__title::before {
  content: "Q";
  position: absolute;
  top: 18px;
  top: 1.125rem;
  left: 20px;
  left: 1.25rem;
  font-weight: bold;
  font-family: fot-tsukuardgothic-std, sans-serif;
  line-height: 1.33;
  color: #fff;
  padding: 5px 11px 6px 11px;
  padding: 0.3125rem 0.6875rem 0.375rem 0.6875rem;
  border-radius: 50%;
}

.p-accordion__content {
  display: none;
  padding: 12px 22px;
  padding: 0.75rem 1.375rem;
  border-radius: 0 0 10px 10px;
}

.p-accordion__content {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  background: #fff;
  background: #DAE0E3;
  color: #333;
  font-weight: 700;
}

.p-accordion__item {
  margin-bottom: 30px;
  margin-bottom: 1.875rem;
}

/* 矢印 */
.p-accordion__title {
  position: relative;
  background: #264F63;
  color: #fff;
  font-weight: 700;
}

.p-accordion__title::after {
  border-right: solid 3px #fff;
  border-right: solid 0.1875rem #fff;
  border-top: solid 3px #fff;
  border-top: solid 0.1875rem #fff;
  content: "";
  display: block;
  height: 16px;
  height: 1rem;
  position: absolute;
  right: 25px;
  top: 28%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  width: 16px;
  width: 1rem;
}

.p-accordion__title.open::after {
  top: 45%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.p-accordion__item:first-of-type .p-accordion__content {
  display: block;
}

/*ContactForm7のテーブル化レスポンシブ調整*/
/*テーブルを親要素の幅いっぱいに伸ばす*/
.table-res-form {
  width: 100%;
}

/*一行ごとに上ボーダー*/
.table-res-form tr {
  border-top: 1px #DDD solid;
}

/*一番上の行だけボーダーなし*/
.table-res-form tr:first-child {
  border-top: none;
}

/*背景色つける*/
/*thとtd内の余白指定*/
.table-res-form th {
  padding: 0.7em 0.3em 0 1.5em;
}
@media screen and (max-width: 767px) {
  .table-res-form th {
    padding: 0 1.5em 0.5em;
  }
}

.table-res-form .dropdown {
  padding: 1em 0.3em 0 1.5em;
}
@media screen and (max-width: 767px) {
  .table-res-form .dropdown {
    padding: 0 1.5em 0em 1.5em;
  }
}

.table-res-form .contact-message {
  padding: 0 0.3em 0 1.5em;
}
@media screen and (max-width: 767px) {
  .table-res-form .contact-message {
    padding: 1.5em 1.5em 0em 1.5em;
  }
}

.table-res-form td {
  padding: 1em 1.5em 0 0;
}
@media screen and (max-width: 767px) {
  .table-res-form td {
    padding: 0 1.5em 0.5em;
  }
}

.table-res-form td:last-child {
  width: 100%;
  text-align: left;
}

/*th（項目欄）は30%幅、テキストを右寄せ*/
.table-res-form th {
  width: 30%;
  text-align: right;
}

/*「必須」部分のスタイリング*/
.table-res-form .requied {
  font-size: 0.8em;
  color: #CC310F;
  display: inline-block;
  padding: 0.25em 0.1em 0.25em 0.1em;
  border-radius: 2px;
}

/*ここから768px以下の指定*/
@media only screen and (max-width: 768px) {
  /*thとtdをブロック化して幅100％にして、縦積み*/
  .table-res-form th, .table-res-form td {
    width: 100%;
    display: block;
  }

  /*th（項目名）欄の不要な余白削除・テキスト左寄せ*/
  .table-res-form th {
    padding-bottom: 0;
    text-align: left;
  }

  /*不要な最終行の左のthを非表示にする*/
  .table-res-form .empty {
    display: none;
    width: 0% !important;
  }
}
/*ここまで768px以下の指定---終わり*/
/*ここから入力欄のスタイル指定*/
/*各入力フォームスタイリング*/
.table-res-form input[type=text], input[type=email], input[type=tel], textarea {
  border: 1px #DAE0E3 solid;
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 90%;
  background: #fff;
  max-width: 600px;
  max-width: 37.5rem;
}
@media screen and (max-width: 767px) {
  .table-res-form input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
  }
}

textarea {
  min-height: 150px;
  min-height: 9.375rem;
}
@media screen and (max-width: 767px) {
  textarea {
    min-height: 6.25rem;
  }
}

/*入力欄にフォーカスしたら変化*/
.table-res-form input[type=text]:focus, input[type=email]:focus, textarea:focus {
  background: #fff;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
}

/*送信ボタンスタイリング*/
.c-btn-contact--send input[type=submit] {
  border: 1px #252525 solid;
  padding: 0.5em 4em;
  border-radius: 5px;
  background: #252525;
  color: #fff;
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
          box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
  font-weight: bold;
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: 30px;
  margin-top: 1.875rem;
}

/*送信ボタン・マウスオーバー時スタイリング*/
.c-btn-contact--send input[type=submit]:hover {
  background: #fff;
  color: #252525;
  border: 1px #252525 solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

select {
  background-color: #fff;
  padding-left: 10px;
}

@media screen and (max-width: 1023px) {
  .wpcf7-spinner::before {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .wpcf7-spinner {
    display: none !important;
  }
}

@media screen and (max-width: 1023px) {
  .submit-btn {
    text-align: center;
  }
}

.p-valuable {
  width: 100%;
  max-width: 1920px;
  max-width: 120rem;
  padding: 120px 0 0;
  padding: 7.5rem 0 0;
}
@media screen and (max-width: 767px) {
  .p-valuable {
    padding-top: 6.25rem;
    padding-bottom: 1.875rem;
  }
}

@media screen and (max-width: 767px) {
  .p-valuable__inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.p-valuable__cards {
  margin: 70px auto 0;
  margin: 4.375rem auto 0;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-valuable__card {
  margin-bottom: 150px;
  margin-bottom: 9.375rem;
}
@media screen and (max-width: 767px) {
  .p-valuable__card {
    margin: auto;
    margin-bottom: 3.125rem;
    max-width: 37.5rem;
  }
}

@media screen and (max-width: 767px) {
  .p-valuable__card:nth-child(2) {
    margin: auto;
    margin-bottom: 6.25rem;
    max-width: 37.5rem;
  }
}

.card:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
}
@media screen and (max-width: 767px) {
  .card:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__img {
  width: 50%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .card__img {
    width: 100%;
  }
}

.card__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 42.9%;
}

.card__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-valuable__texts {
  width: 46.9%;
  height: auto;
  position: relative;
}
@media screen and (min-width: 1440px) {
  .p-valuable__texts {
    width: 41.9%;
  }
}
@media screen and (max-width: 767px) {
  .p-valuable__texts {
    width: 100%;
    height: 17.5rem;
    z-index: -1;
  }
}

.p-valuable__texts::after {
  position: absolute;
  width: 24.9%;
  height: 32.9%;
  top: 7%;
  right: 5%;
  content: "";
  background: url(../img/valuable-1.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .p-valuable__texts::after {
    top: 4%;
    left: 80%;
    width: 16.9%;
    height: 24.9%;
  }
}

.card:nth-child(3) .p-valuable__texts::after {
  position: absolute;
  width: 24.9%;
  height: 32.9%;
  top: 7%;
  right: 5%;
  content: "";
  background: url(../img/valuable-3.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .card:nth-child(3) .p-valuable__texts::after {
    top: 4%;
    left: 80%;
    width: 16.9%;
    height: 24.9%;
  }
}

.card:nth-child(2) .p-valuable__texts::after {
  position: absolute;
  width: 24.9%;
  height: 32.9%;
  top: 7%;
  left: -18%;
  content: "";
  background: url(../img/valuable-2.png) no-repeat center center/contain;
}
@media screen and (max-width: 767px) {
  .card:nth-child(2) .p-valuable__texts::after {
    top: 4%;
    left: 80%;
    width: 16.9%;
    height: 24.9%;
  }
}

.p-valuable__text {
  background: #F2EEE9;
  max-width: 806px;
  max-width: 50.375rem;
  width: 100%;
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  padding-left: 19.2%;
  padding-right: 16.1%;
  position: absolute;
  left: -10%;
  top: 40px;
  top: 2.5rem;
  border-radius: 0px 100px 0px 0px;
}
@media screen and (min-width: 1440px) {
  .p-valuable__text {
    top: 5.4375rem;
    padding-bottom: 3.125rem;
  }
}
@media screen and (max-width: 767px) {
  .p-valuable__text {
    left: 0;
    border-radius: 0px 0px 50px 0px;
    top: -1rem;
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media screen and (max-width: 375px) {
  .p-valuable__text {
    padding-bottom: 0.625rem;
  }
}

.card:nth-child(2) .p-valuable__texts {
  right: -8%;
}
@media screen and (max-width: 767px) {
  .card:nth-child(2) .p-valuable__texts {
    right: 0;
  }
}

.card:nth-child(2) .p-valuable__texts .p-valuable__text {
  border-radius: 100px 0px 0px 0px;
  padding-right: 12.2%;
  padding-left: 16.4%;
  padding-right: 67px;
  padding-right: 4.1875rem;
  padding-left: 93px;
  padding-left: 5.8125rem;
  padding-bottom: 51px;
  padding-bottom: 3.1875rem;
  max-height: 300px;
  max-height: 18.75rem;
}
@media screen and (min-width: 1440px) {
  .card:nth-child(2) .p-valuable__texts .p-valuable__text {
    max-height: 21.875rem;
  }
}
@media screen and (max-width: 767px) {
  .card:nth-child(2) .p-valuable__texts .p-valuable__text {
    max-height: 21.25rem;
    border-radius: 0px 0px 0px 50px;
    padding-right: 10%;
    padding-left: 10%;
  }
}
@media screen and (max-width: 375px) {
  .card:nth-child(2) .p-valuable__texts .p-valuable__text {
    padding-bottom: 0.625rem;
  }
}

.p-valuable__text-top {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  text-align: left;
  color: #C2AA8B;
}
@media screen and (max-width: 767px) {
  .p-valuable__text-top {
    font-size: 1.875rem;
  }
}

.p-valuable__text-middle {
  font-family: fot-tsukuardgothic-std, sans-serif;
  letter-spacing: 1.4;
  padding-bottom: 26px;
  padding-bottom: 1.625rem;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}
@media screen and (max-width: 767px) {
  .p-valuable__text-middle {
    font-size: 1rem;
  }
}

.p-valuable__text-bottom {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
}
@media screen and (max-width: 767px) {
  .p-valuable__text-bottom {
    font-size: 0.9375rem;
  }
}

.p-valuable__title {
  position: relative;
}

.p-valuable__title::after {
  position: absolute;
  bottom: -5px;
  bottom: -0.3125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "私が大切にしている３のこと";
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  width: 100%;
}

.p-works {
  padding: 100px 0 100px;
  padding: 6.25rem 0 6.25rem;
  position: relative;
  margin-bottom: 100px;
  margin-bottom: 6.25rem;
}
@media screen and (max-width: 767px) {
  .p-works {
    margin-bottom: 6.25rem;
    padding: 6.25rem 0 5rem;
  }
}

.p-works::after {
  background: #DAE0E3;
  position: absolute;
  width: 93%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  content: "";
  border-radius: 50px 0px 0px 0px;
}
@media screen and (max-width: 767px) {
  .p-works::after {
    width: 100%;
  }
}

.p-works__wrappers-1 {
  overflow: hidden;
}

.p-works__sub-title {
  font-size: 36px;
  font-size: 2.25rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 72px;
  margin-top: 4.5rem;
  color: #333;
}
@media screen and (max-width: 767px) {
  .p-works__sub-title {
    font-size: 1.5rem;
  }
}

.p-works__sub-title-1 {
  margin-left: 76%;
  display: inline-block;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .p-works__sub-title-1 {
    margin-left: 65%;
  }
}
@media screen and (max-width: 767px) {
  .p-works__sub-title-1 {
    margin-left: 60%;
  }
}
@media screen and (max-width: 375px) {
  .p-works__sub-title-1 {
    margin-left: 45%;
  }
}

.p-works__sub-title-1::after {
  position: absolute;
  width: 143%;
  height: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 105%;
  content: "";
  background: #264F63;
  overflow: hidden;
}

.p-works__sub-title-2 {
  margin-left: 15.5%;
  display: inline-block;
  position: relative;
}

.p-works__sub-title-2::after {
  position: absolute;
  width: 113%;
  height: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 105%;
  content: "";
  background: #264F63;
  overflow: hidden;
}

.p-works__sub-title-3 {
  margin-left: 76%;
  display: inline-block;
  position: relative;
  margin-top: 70px;
  margin-top: 4.375rem;
}
@media screen and (max-width: 1023px) {
  .p-works__sub-title-3 {
    margin-left: 73%;
  }
}
@media screen and (max-width: 767px) {
  .p-works__sub-title-3 {
    margin-left: 60%;
    margin-top: 6.25rem;
  }
}
@media screen and (max-width: 375px) {
  .p-works__sub-title-3 {
    margin-left: 55%;
  }
}

.p-works__sub-title-3::after {
  position: absolute;
  width: 272%;
  height: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 105%;
  content: "";
  background: #264F63;
  overflow: hidden;
}

.wd-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .wd-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 37.5rem;
    margin: 0 auto;
  }
}

.wd-card {
  width: 34.2%;
}
@media screen and (max-width: 767px) {
  .wd-card {
    width: 100%;
  }
}

.wd-card__img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="22" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.11)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, .11));
          filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, .11));
  height: auto;
}
@media screen and (max-width: 767px) {
  .wd-card__img {
    width: 100%;
  }
}

.wd-card:nth-child(2) {
  padding-top: 156px;
  padding-top: 9.75rem;
  margin-right: auto;
  margin-left: 7.3%;
}
@media screen and (max-width: 767px) {
  .wd-card:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }
}

.wd-card__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 74.5%;
}

.wd-card__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wd-card {
  width: 34.2%;
}
@media screen and (max-width: 767px) {
  .wd-card {
    width: 100%;
  }
}

.wd-card__img {
  height: auto;
}
@media screen and (max-width: 767px) {
  .wd-card__img {
    width: 100%;
  }
}

.wd-card:first-child {
  margin-left: auto;
  margin-right: 2.23%;
}
@media screen and (max-width: 767px) {
  .wd-card:first-child {
    margin-right: 0;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3.125rem;
  }
}

.wd-card:nth-child(2) {
  padding-top: 156px;
  padding-top: 9.75rem;
  margin-right: auto;
  margin-left: 7.3%;
}
@media screen and (max-width: 767px) {
  .wd-card:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
  }
}

.wd-card__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 74.5%;
}

.wd-card__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wd-card__btn {
  text-align: center;
  padding-top: 15px;
  padding-top: 0.9375rem;
}
@media screen and (max-width: 767px) {
  .wd-card__btn {
    padding-top: 0.625rem;
  }
}

.p-works__wrappers-2 {
  overflow: hidden;
}

.container {
  margin: 60px auto 0 !important;
}

.p-works__wrappers-3 {
  overflow: hidden;
}

.p-works__title {
  position: relative;
}

.p-works__title::after {
  position: absolute;
  bottom: -5px;
  bottom: -0.3125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "制作実績";
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.7;
}

.cd-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .cd-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 37.5rem;
  }
}

.cd-card {
  width: 34.2%;
}
@media screen and (max-width: 767px) {
  .cd-card {
    width: 100%;
    margin: 0 auto;
  }
}

.cd-card__img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur in="SourceAlpha" stdDeviation="22" /><feOffset dx="1" dy="1" result="offsetblur" /><feFlood flood-color="rgba(0,0,0,0.11)" /><feComposite in2="offsetblur" operator="in" /><feMerge><feMergeNode /><feMergeNode in="SourceGraphic" /></feMerge></filter></svg>#filter');
  -webkit-filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, .11));
          filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, .11));
  height: auto;
}
@media screen and (max-width: 767px) {
  .cd-card__img {
    width: 100%;
  }
}

.cd-card:first-child {
  margin-left: auto;
  margin-right: 2.23%;
}
@media screen and (max-width: 767px) {
  .cd-card:first-child {
    margin-right: 0;
    margin-left: 0;
    padding-top: 1.875rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.cd-card:nth-child(2) {
  padding-top: 156px;
  padding-top: 9.75rem;
  margin-right: auto;
  margin-left: 7.3%;
}
@media screen and (max-width: 767px) {
  .cd-card:nth-child(2) {
    margin-right: 0;
    margin-left: 0;
    padding-top: 4.375rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.cd-card__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 74.5%;
}

.cd-card__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cd-card__btn {
  text-align: center;
  padding-top: 30px;
  padding-top: 1.875rem;
}
@media screen and (max-width: 767px) {
  .cd-card__btn {
    padding-top: 1.125rem;
  }
}

.site__img {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .site__img {
    width: 100%;
  }
}

.site__figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 342.6%;
}

.site__figure img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  margin: 30px auto 0;
  max-width: 1920px;
  width: 100%;
}

.slick-img img {
  height: auto;
  opacity: 0.5;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: opacity 0.5s, -webkit-transform 1s;
  transition: opacity 0.5s, -webkit-transform 1s;
  transition: opacity 0.5s, transform 1s;
  transition: opacity 0.5s, transform 1s, -webkit-transform 1s;
  width: 100%;
}

.slider .slick-center img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slick-dots {
  bottom: -45px;
}
@media screen and (max-width: 767px) {
  .slick-dots {
    bottom: -25px;
  }
}
/*# sourceMappingURL=styles.css.map */
