@use "global" as *;
.p-page-contact{
display: flex;
flex-direction: column;
}
.p-page-contact-mv {
    margin-left: auto;
    width: 100vw;
    height: 23.4375vw;
    @media screen and (max-width: 414px) {
        width: 100vw;
        height: 90vw;
    }
}
.p-page-contact-mv__image {
    height: auto;
    width: 100%;
}
.p-page-contact-texts{
    width: 55.7%;
    max-width: rem(1070);
    margin: -100px auto 0;
   text-align: center;
   padding: rem(50) rem(20);
  border-radius: 0 100px 0 0;
   background-color: #fff;
   z-index: 2;
box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.11);
@include mq(md){
    width: 80%;
    max-width: rem(500);
    margin-top: rem(100);
    }
    @media screen and (max-width: 414px){
     margin-top: rem(-150);
     width: 85%;
    }
}
.p-page-contact-texts__title{
    display: inline-block;
   
}
.p-page-contact-text__texts{
    padding-top: rem(35);
    font-size: rem(16);
    @include mq(md){
        font-size: rem(15);
        }
}

.p-page-contact-forms{
    background: $light-blue;
    width: 55.7%;
    max-width: 1070px;
    margin: 0 auto;
    @include mq(md){
        width: 80%;
        max-width: rem(500);
        }
}
.p-page-contact-form{
text-align: center;
max-width: rem(600);
margin: rem(50) auto ;
}