@use "global" as *;
.c-btn-contact {
    display: inline-block;
    padding: rem(13) rem(26) rem(11) rem(50);
    background-color: $black2;
    color: $white;
    font-family: $font-family-english;
    text-decoration: none;
    position: relative;
    transition: all 0.5s;
    letter-spacing: 0;
    font-weight: bold;
    font-size: rem(15);
}
.c-btn-contact::before {
    position: absolute;
    width: rem(16);
    height: rem(13);
    top: 50%;
    transform: translateY(-50%);
    left: rem(20);
    content: "";
    background: url(../img/icon-mail-wt.svg) no-repeat center center / contain;
    transition: all 0.5s;
    color: $white;
}
