@use "global" as *;

.p-contact__title{
position: relative;
font-family: $font-family-english;
    font-size: rem(60);
    line-height: 1;
    display: inline-block;
    @include mq(md){
    font-size: rem(45);
    padding-bottom: rem(3);
    }
}
.p-contact__title::after{
    position: absolute;
    bottom: rem(-7);
   left: 50%;
   transform: translateX(-50%);
    content: "お問い合わせ";
    font-family: $font-family-base;
    font-size: rem(14);
    letter-spacing: 0.7;
}

.p-contact{
padding-top: rem(80);
padding-left: $padding-pc;
padding-right: $padding-pc;
margin-bottom: rem(200);
@include mq(md){
    padding-left: $padding-sp;
    padding-right: $padding-sp;
  margin-bottom: rem(400);
    }
@media screen and  (max-width: 767px){
margin-bottom: rem(500);

    }

}
.p-contact__inner{
width: 100%;
max-width:rem(1500) ;
margin: 0 auto;
position: relative;
@include mq(md){
    max-width: rem(600);
    }

}
.p-contact__text-wrapper{
padding: rem(110) rem(90) rem(150);
background: $beige;
text-align: center;
border-radius: 0px 50px 0px 0px;
// z-index: -2;
width: 43%;
// position: absolute;
@include mq(md){
    // z-index: 1;
    width: 100%;
    padding: rem(60) rem(63) rem(60);
}
@include mq(sm){
    
    padding: rem(60) rem(30) rem(60);
    }
}
.p-contact__titles{

}

.p-contact__text{
font-size: rem(24);
text-align: left;
max-width: rem(464);
padding-top: rem(50);
@include mq(md){
    font-size: rem(16);
    text-align: center;
    }
}
.p-contact__messages{
    background: url(../img/contact.jpg)no-repeat center center / cover;
    width: 60%;
    z-index: 2;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: rem(125) 0;
    margin-top: rem(80);
    text-align: center;
    @include mq(md){
        width: 100%;
        z-index: 1;
        padding-top: rem(20);
        top: 80%;
        margin-top: rem(30);
        }
}
.p-contact__messages:hover .c-btn-contact-form{
    opacity: .5;
  
}
.p-contact__messages::after{
 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.21);
  z-index: -1;
  transition: all 0.5s;
}
.p-contact__messages:hover::after{
 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background: rgba(0, 0, 0, 0.7);
//   z-index: -1;
  transition: all 0.5s;
}
.p-contact__message{
display: inline-block;
margin-bottom: rem(36);
color: $white;
font-size: rem(16);
line-height: 2;
@include mq(md){
    padding-top: rem(50);
    max-width: 80%;
    }
}
