@use "global" as *;
/*ContactForm7のテーブル化レスポンシブ調整*/
/*テーブルを親要素の幅いっぱいに伸ばす*/
.table-res-form {
    width: 100%;
}
/*一行ごとに上ボーダー*/
.table-res-form tr {
    border-top: 1px #DDD solid;
}
/*一番上の行だけボーダーなし*/
.table-res-form tr:first-child {
    border-top: none;
}
/*背景色つける*/
.table-res-form tr {
    // background: #eee;  
}
/*thとtd内の余白指定*/
.table-res-form th {
    padding: 0.7em 0.3em 0 1.5em ;
    @include mq(md){
        padding: 0 1.5em 0.5em;
        }
}
.table-res-form .dropdown{
    padding: 1em 0.3em 0 1.5em ;
    @include mq(md){
        padding: 0 1.5em  0em 1.5em;
        }
}
.table-res-form .contact-message{
    padding: 0 0.3em 0 1.5em ;
    @include mq(md){
        padding:1.5em 1.5em  0em 1.5em;
        }
}
.table-res-form td {
    padding: 1em 1.5em 0 0 ;
    @include mq(md){
        padding:0 1.5em 0.5em;
        }

}
.table-res-form td:last-child{
    width: 100%;
    text-align: left;
    
}
/*th（項目欄）は30%幅、テキストを右寄せ*/
.table-res-form th {
    width: 30%;
    text-align: right;
}
/*「必須」部分のスタイリング*/
.table-res-form .requied {
    font-size: 0.8em;
    color: #CC310F;
    display: inline-block;
    padding: 0.25em 0.1em 0.25em 0.1em;
   
    border-radius: 2px;
}
/*ここから768px以下の指定*/
@media only screen and (max-width: 768px) {
/*thとtdをブロック化して幅100％にして、縦積み*/
    .table-res-form th, .table-res-form td {
        width: 100%;
        display: block;
    }
/*th（項目名）欄の不要な余白削除・テキスト左寄せ*/
    .table-res-form th {
        padding-bottom: 0;
        text-align: left;
    }
/*不要な最終行の左のthを非表示にする*/
    .table-res-form .empty {
        display: none;
        width: 0% !important;
    }
}
/*ここまで768px以下の指定---終わり*/
/*ここから入力欄のスタイル指定*/
/*各入力フォームスタイリング*/
.table-res-form input[type="text"], input[type="email"], input[type="tel"], textarea {
    border: 1px $light-blue solid;
    padding: 0.5em;
    border-radius: 5px;
    margin-bottom: 0.5em;
    width: 90%;
    background: $white;
    max-width: rem(600);
// width: 75%;
    @include mq(md){
        width: 100%;
    }
}
textarea{
    min-height:rem(150) ;
    @include mq(md){
        min-height:rem(100) ;
        
        }
}
/*入力欄にフォーカスしたら変化*/
.table-res-form input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    background: $white;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}
/*送信ボタンスタイリング*/
.c-btn-contact--send input[type="submit"] {
    border: 1px $black2 solid;
    padding: 0.5em 4em;
    border-radius: 5px;
    background: $black2 ;
    color: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
    display: inline-block;
    transition: all .5s;
    margin-top: rem(30);
}
/*送信ボタン・マウスオーバー時スタイリング*/
.c-btn-contact--send input[type="submit"]:hover {
    background: $white;
    color: $black2;
    border: 1px $black2 solid;
    box-shadow: none;
    transition: all .5s;
}

// .wpcf7-form-control {
//     color: $white;
// }
select{
    background-color: $white;
    padding-left: 10px;
}

.wpcf7-spinner::before{
        
    @include
     mq(lg){
         display: none !important;
            }
        }
        .wpcf7-spinner{
        
    @include
     mq(lg){
        display: none !important;
         }
        }
        .submit-btn{
        
    @include
     mq(lg){
        text-align: center;
         }
        }