@use "global" as *;
.p-valuable{
width: 100%;
max-width: rem(1920);
padding: rem(120) 0 rem(100);
@include mq(md){
    padding-top: rem(100);
    padding-bottom: rem(30);
    }
}
.p-valuable__inner{
@include mq(md){
 padding-left: $padding-sp;   
 padding-right: $padding-sp;   
    }
}
.p-valuable__cards{
    margin: rem(123) auto 0;
}
.card{
display: flex;
@include mq(md){
    flex-direction: column;
    }
}
.p-valuable__card{
margin-bottom:rem(150) ;
@include mq(md){
    margin:  auto;
    margin-bottom: rem(50);
    max-width: rem(600);
    }

}.p-valuable__card:nth-child(2){
   
    @include mq(md){
        margin: auto;
        margin-bottom: rem(100);
        max-width: rem(600);
        }
    }
.card:nth-child(2){
    flex-flow: row-reverse;
    @include mq(md){
        flex-direction: column;
        }
}
.card__img{
width: 50%;
height: auto;
// z-index: 2;
// @include mq(){
//     z-index: 1;
//     }
@include mq(md){
    width: 100%;
    }
}
.card__figure{
    position: relative;
    width: 100%;
    height: 0;
    padding-top:42.9% ;  
}
.card__figure img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-valuable__texts{
    width: 46.9%;
height: auto;
position: relative;


@include mq(xl){
    width: 41.9%;
    }
@include mq(md){
    width:100%;
    height: rem(280);
 z-index: -1;
}
}
.p-valuable__texts::after{
    position: absolute;
    width: 24.9%;
    height: 32.9%;
    top: 7%;
   right: 5%;
    content: "";
    background: url(../img/valuable-1.png)no-repeat center center / contain;
    @include mq(md){
        top: 4%;
      left: 80%;
      width: 16.9%;
        height: 24.9%;
        }

}
.card:nth-child(3) .p-valuable__texts::after {
    position: absolute;
    width: 24.9%;
    height: 32.9%;
    top: 7%;
   right: 5%;
    content: "";
    background: url(../img/valuable-3.png)no-repeat center center / contain;
    @include mq(md){
        top: 4%;
      left: 80%;
      width: 16.9%;
        height: 24.9%;
        }
}
.card:nth-child(2) .p-valuable__texts::after {
    position: absolute;
    width: 24.9%;
    height: 32.9%;
    top: 7%;
   left: -18%;
    content: "";
    background: url(../img/valuable-2.png)no-repeat center center / contain;
@include mq(md){
    top: 4%;
  left: 80%;
  width: 16.9%;
    height: 24.9%;
    }
}
.p-valuable__text{
    background: $beige;
   max-width: rem(806);
   width: 100%;
   padding-top: rem(50);
   padding-bottom: rem(30);
   padding-left: 19.2%;
   padding-right: 16.1%;
   position: absolute;
   left: -10%;
   top: rem(40);
   border-radius: 0px 100px 0px 0px;
   @include mq(xl){
    top: rem(87);
    padding-bottom: rem(50);
}
    @include mq(md){
     left: 0;
     border-radius: 0px 0px 50px 0px;
     top: rem(-16);
     padding-right: 10%;
     padding-left: 10%; 
       }
       @include mq(sm){
           padding-bottom: rem(10);
           }
}
.card:nth-child(2) .p-valuable__texts {
    right: -8%;
    @include mq(md){
        right: 0;
        }
}
.card:nth-child(2) .p-valuable__texts .p-valuable__text{
    border-radius: 100px 0px 0px 0px;
    padding-right: 12.2%;
    padding-left: 16.4%;
    padding-bottom: rem(51);
    max-height:rem(300) ;
    @include mq(xl){
max-height: rem(350); 
}
@include mq(md){
    max-height: rem(340);
    border-radius: 0px 0px 0px 50px;
    padding-right: 10%;
    padding-left: 10%;
    }
    @include mq(sm){
       padding-bottom: rem(10); 

       
        }
}
.p-valuable__text-top{
    font-family: $font-family-english;
    font-size: rem(36);
    font-weight: $bold;
    text-align: left;
    color: $brawn;
  @include mq(md){
      font-size: rem(30);
      }  
}

.p-valuable__text-middle{
font-family: $font-family-base;
letter-spacing: 1.4;
padding-bottom: rem(26);
font-size: rem(24);
font-weight: $bold;
color: $black;
@include mq(md){
    font-size: rem(16);
    }
}
.p-valuable__text-bottom{
font-size: rem(16);
padding-bottom: rem(30);
@include mq(md){
    font-size: rem(15);
    }
}
.p-valuable__title{
    position: relative;
    

}
.p-valuable__title::after{
    position: absolute;
   bottom: rem(-5);
   left: 50%;
   transform: translateX(-50%);
    content: "私が大切にしている３のこと";
    font-family: $font-family-base;
    font-size: rem(12);
    width: 100%;
}
