@use "global" as *;
.p-works{
padding: rem(100) 0 rem(100);
position: relative;
margin-bottom: rem(130);
@include mq(md){
  margin-bottom: rem(100);
    padding: rem(100) 0 rem(80);
    
    }
}
.p-works::after{
background: $light-blue;
position: absolute;
width: 93%;
height: 100%;
top: 0;
right: 0;
z-index: -1;
content: "";
border-radius: 50px 0px 0px 0px;

}
// .p-works__inner{
//     // position: relative;
// }
.p-works__wrappers-1{
overflow: hidden;
}
.p-works__sub-title{
font-size: rem(36);
font-family: $font-family-english;
margin-top: rem(72);
color: $black;
@include mq(md){
    font-size: rem(24);
    }

}
.p-works__sub-title-1{
    margin-left: 76%;
    display: inline-block;
    position: relative;
    @include mq(lg){
        margin-left: 65%;
        
        }
    @include mq(md){
        margin-left: 60%;
        }
        @include mq(sm){
            margin-left: 45%;
            }
}
.p-works__sub-title-1::after{
    position: absolute;
    width: 143%;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    left: 105%;
    content: "";
    background: $green;
    overflow: hidden;
    
}
.p-works__sub-title-2{
    margin-left: 15.5%;
    display: inline-block;
    position: relative;
}
.p-works__sub-title-2::after{
    position: absolute;
    width: 113%;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    right: 105%;
    content: "";
    background: $green;
    overflow: hidden;
    
}
.p-works__sub-title-3{
     margin-left: 76%;
    display: inline-block;
    position: relative;
    margin-top: rem(150);
    @include mq(lg){
        margin-left:73%;
        }
    @include mq(md){
        margin-left: 60%;
        margin-top: rem(100);
        }
    @include mq(sm){
        margin-left: 55%;
        }
}
.p-works__sub-title-3::after{
    position: absolute;
    width: 272%;
    height: 3px;
    top: 50%;
    transform: translateY(-50%);
    left: 105%;
    content: "";
    background: $green;
    overflow: hidden;
    
}
.wd-cards{
display: flex;
@include mq(md){
    flex-direction: column;
    max-width: rem(600);
    margin: 0 auto;
    }

}
.wd-card{
//    margin: 0 auto;
    width: 34.2%;
    @include mq(md){
        width: 100%;
        }
}

.wd-card__img{
    filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, 0.11));
    height: auto;
    
    @include mq(md){
     width: 100%;   
    }
  }
  
// .wd-card:first-child{
//    margin-left: auto;
//    margin-right: 2.23%;
//    @include mq(md){
//       margin-left: 0;
//       margin-right: 0; 
// }
// }
.wd-card:nth-child(2){
   padding-top: rem(156);
   margin-right: auto;
   margin-left: 7.3%;
   @include mq(md){
    margin-left: 0;
    margin-right: 0; 
}
  }
  .wd-card__figure{
    
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 74.5% ;
  }
  .wd-card__figure img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }


.wd-card{
//    margin: 0 auto;
    width: 34.2%;
    @include mq(md){
        width: 100%;
        }
}

.wd-card__img{
    height: auto;
    @include mq(md){
     width: 100%;   
    }
  }
.wd-card:first-child{
   margin-left: auto;
   margin-right: 2.23%;
   @include mq(md){
    margin-right: 0;
    margin-left: 0; 
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    padding-top: rem(50);
}
}
.wd-card:nth-child(2){
   padding-top: rem(156);
   margin-right: auto;
   margin-left: 7.3%;
   @include mq(md){
    margin-right: 0;
    margin-left: 0; 
    padding-left: $padding-sp;
    padding-right: $padding-sp;
    padding-top: rem(70);
    padding-bottom: rem(70);
}
  }
  .wd-card__figure{
    
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 74.5% ;
  }
  .wd-card__figure img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // object-fit: cover;
  }

.wd-card__btn{
text-align: center;
padding-top: rem(15);
@include mq(md){
    padding-top: rem(10);
    }
}
.p-works__wrappers-2{
overflow: hidden;
}
.p-works__sub-title{

}
.container{
margin: 60px auto 0 !important;
}
.slick-img{

}
.slick-figure{
    
}
.slick-figure img{

}
.p-works__wrappers-3{
overflow: hidden;
}

.p-works__title{
position: relative;
}
.p-works__title::after{
    position: absolute;
   bottom: rem(-5);
   left: 50%;
   transform: translateX(-50%);
    content: "制作実績";
    font-family: $font-family-base;
    font-size: rem(14);
    letter-spacing: 0.7;
}
.cd-cards{
    display: flex;
@include mq(md){
    flex-direction: column;
    margin: 0 auto;
    max-width: rem(600);

    }
    }
    .cd-card{
        width: 34.2%;
        @include mq(md){
            width: 100%;
            margin: 0 auto;
            }
    }
    
    .cd-card__img{
        filter: drop-shadow(0px 0px 22px rgba(0, 0, 0, 0.11));
        height: auto;
        @include mq(md){
         width: 100%;   
        }
      }
    .cd-card:first-child{
       margin-left: auto;
       margin-right: 2.23%;
       @include mq(md){
          margin-right: 0;
          margin-left: 0; 
          padding-top: rem(30);
          padding-left: $padding-sp;
          padding-right: $padding-sp;
    }
    }
    .cd-card:nth-child(2){
       padding-top: rem(156);
       margin-right: auto;
       margin-left: 7.3%;
       @include mq(md){
        margin-right: 0;
        margin-left: 0; 
        padding-top: rem(70);
        padding-left: $padding-sp;
        padding-right: $padding-sp;
  }
      }
      .cd-card__figure{
        
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 74.5% ;
      }
      .cd-card__figure img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // object-fit: cover;
      }
    
    .cd-card__btn{
    text-align: center;
    padding-top: rem(30);
    @include mq(md){
        padding-top: rem(18);
        }
    }

    .site__img{
        height: auto;
        width: 100%;
        @include mq(md){
         width: 100%;   
        }
      }
      .site__figure{
        
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 342.6% ;
      }
      .site__figure img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       
      }