@use "global" as *;
  .container {
    margin: 30px auto 0;
    max-width: 1920px;
    width: 100%;
//     @include mq(md){
//    max-width: 500px;
//         }
  }
  .slick-img img {
    height: auto;
    opacity: .5;
    transform: scale(.8);
    transition: opacity .5s, transform 1s;
    width: 100%;
  }
  .slider .slick-center img {
    opacity: 1;
    transform: scale(1);
  }
  .slick-dots{
      bottom: -45px ;
      @include mq(md){
          bottom: -25px;
          
          }
  }